@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

/* header */
header {
  display: flex;
  justify-content: center;
  background: #562eff;
  padding: 11px 0;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}

.logo img {
  width: 40.424px;
  height: 51px;
}

.menu ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

.menu li {
  list-style-type: none;
}

.menu a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

/* header */
/* top-players-section */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f3f1ff;
}

.container {
  border-radius: 5px;
  margin-top: 20px;
  padding: 0px 30px 30px 30px;
  background: #fff;
  width: 75%;
}

.top-players {}

.players-title {
  color: #562eff;
  font-size: 24px;
  font-weight: 500;
  margin: 30px 0;
}

.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
}

.player {
  display: flex;
  align-items: center;
  gap: 18px;
}

.player img {
  width: 56px;
  height: 56px;
}

.player h3 {
  margin: 0;
}

hr {
height: 1px;
  margin: 30px 0;
  background:rgba(209, 209, 209, 1);
  border:none;
}

/* top-players-section */
/* top-blog-section */
.top-blog {}

.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 25px;
}

.blog {
  display: flex;
  align-items: center;
  gap: 20px;
}

.blog-thumline {}

.blog-thumline img {
  width: 224px;
  height: 127px;
}

.blog-info {}

.blog-description {
  margin: 0 0 5px 0;
}

.blog-info p {
  color: #9f9f9f;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.blog-info a {
  text-decoration: none;
  color: #562eff;
}

/* top-blog-section */
/* letes-course-section */
.letes-coures {}

.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 25px;
}

.course {
  padding: 20px 30px 20px 30px;
  border-radius: 5px;
  box-shadow: 5px 5px 12px -15px;
}

.course-banner {}

.course-banner img {
  width: 266px;
  height: 141px;
}

.course-details {}

.course-details a {
  text-decoration: none;
}

.course-description {
  color: #1e1e1e;
  margin: 0 0 2px 0;
  font-size: 20.034px;
  font-weight: 500;
}

.course-about {
  color: #ed6b4f;
  font-size: 14.691px;
  font-weight: 400;
}

.course-info {
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 40px;
}

.icon {}

.icon span {
  color: #a2a2a2;
  font-size: 14.691px;
  font-weight: 400;
}

.fa-star {
  color: #ffc014;
}

.lite-icon {
  color: #aeaeae;
}

.course-duration {
  border-radius: 14.691px;
  background: #ffe4e8;
  padding: 5px 10px;
}

.fa-clock {
  color: #ff4a60;
}

.course-duration span {
  text-decoration: none;
  color: #ff4a60;
}
/* letes-course-section */
